{% extends 'base.html' %}

{% block title %}profile{% endblock %}

{% block content %}
<h1>profile</h1>
<div>
    <p>フォロー数:{{following_count}}</p>
    <p>フォロワー数:{{follower_count}}</p>
    <div>
        <a href="{% url 'accounts:following_list' tweet_user.username %}">フォロー一覧</a>
        <a href="{% url 'accounts:follower_list' tweet_user.username %}">フォロワー一覧</a>
    </div>
</div>
<div>
    {% if item.user.username != tweet_user.username %}
        {% if is_following %}
            <form action="{%  url 'accounts:unfollow' tweet_user.username %}" method="POST">{% csrf_token %}
                <button type="submit">フォローを外す</button>
            </form>
        {% else %}
            <form action="{%  url 'accounts:follow' tweet_user.username %}" method="POST">{% csrf_token %}
                <button type="submit">フォローする</button>
            </form>
            <br>
        {% endif %}
    {% endif %}
</div>
<div class="container mt-3">
    {% for item in tweet_list %}
    <div>
        {{ item.user.username }}
        [{{ item.created_at }}]
        <a href="{% url 'tweets:detail' item.pk %}">詳細</a>
    </div>
    <div>
        {{ item.content }}
    </div>
    {% endfor %}
 </div>
{% endblock %}
