{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="container">
    <div class="alert alert-success" role="alert">
        <p>タイトル：{{object.title}}</p>
        <p>作成者：{{object.user}}</p>
        <p>作成日：{{object.created_at}}</p>
        <p>コメント：{{object.content}}</p>

        {% if object.user == request.user %}
        <a href="{% url 'tweets:delete' tweet.pk %}" class="btn btn-danger ms-3" tabindex="-1" role="button" aria-disabled="true">削除</a>
        {% endif %}
    </div>
</div>
{% endblock content %}
