{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Home</h1>
<div>
    <p><a href="{% url 'tweets:create' %}"><button type="button">ツイート作成</button></a></p>
</div>
<div class="container mt-3">
    {% for item in tweet_list %}
    <div class="alert alert-success" role="alert">
        <p>作成者：{{item.user.username}}</p> 
        <p>作成日：{{item.created_at}}</p>
        <p>内容：{{item.content}}</p> 
        <a href="{% url 'tweets:detail' item.pk %}">詳細</a>
    </div>
    {% endfor %}
 </div>
{% endblock %}
